<!DOCTYPE>
<html>
	<head>
		<title>Angular 2</title>
		<link href="src/css/style.css" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

	</head>
	<body>
		<div class="container">
            <content></content>
            <loginForm></loginForm>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
        <script src="src/system.js"></script>
	</body>
</html>